.IconAccept{
 background-image: url("../images/IconAccept.png") !important;
}
.IconDocument
{
 background-image: url("../images/IconDocument.png") !important;
}
.IconUsers
{
 background-image: url("../images/IconUsers.png") !important;
}
.IconDocumentInvoice
{
 background-image: url("../images/IconDocumentInvoice.png") !important;
}
.IconNavigation
{
 background-image: url("../images/IconNavigation.png") !important;
}
.IconApplication
{
 background-image: url("../images/IconApplication.png") !important;
}
.IconLogout
{
 background-image: url("../images/IconLogout.png") !important;
}
.IconSettings
{
 background-image: url("../images/IconSettings.png") !important;
}
.IconPorfile
{
 background-image: url("../images/IconPorfile.png") !important;
}
.IconOptions
{
 background-image: url("../images/IconOptions.png") !important;
}
.IconHelp
{
 background-image: url("../images/IconHelp.png") !important;
}
.IconBug
{
 background-image: url("../images/IconBug.png") !important;
}
.IconInformation
{
 background-image: url("../images/IconInformation.png") !important;
}
.title-label {
    color: black;
}