.IconAccept{
 background-image: url("../images/IconAccept.png") !important;
}
.IconDocument
{
 background-image: url("../images/IconDocument.png") !important;
}
.IconUsers
{
 background-image: url("../images/IconUsers.png") !important;
}
.IconDocumentInvoice
{
 background-image: url("../images/IconDocumentInvoice.png") !important;
}
.IconNavigation
{
 background-image: url("../images/IconNavigation.png") !important;
}
.IconApplication
{
 background-image: url("../images/IconApplication.png") !important;
}
.IconLogout
{
 background-image: url("../images/IconLogout.png") !important;
}
.IconSettings
{
 background-image: url("../images/IconSettings.png") !important;
}
.IconPorfile
{
 background-image: url("../images/IconPorfile.png") !important;
}
.IconOptions
{
 background-image: url("../images/IconOptions.png") !important;
}
.IconHelp
{
 background-image: url("../images/IconHelp.png") !important;
}
.IconBug
{
 background-image: url("../images/IconBug.png") !important;
}
.IconInformation
{
 background-image: url("../images/IconInformation.png") !important;
}
.title-label {
    color: black;
}

#msg-div {
    position:absolute;
    right:10px;
    bottom:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: #F6F6F6;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}
