#{extends 'main.html' /}
#{set 'title'}&{'site.send_password'} - #{/set}
#{set 'moreScripts'}
        <script src="@{'/public/javascripts/jquery.validate.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
<h1>&{'site.send_password'}</h1>
<script type="text/javascript">
	$(function() {

		var v = $("#form").validate({
				errorElement: "span",
				rules:{
					email: {required: true, email: true, remote:"/validate/exist_email"}
		,code: {required: true, remote:"/validate/code?randomID=${randomID}"}

				},
				messages:{
					email: {required: "&{'validation.required'}", email: "&{'validation.email'}", remote: "&{'validation.user_not_exist'}"}
				, code: {required: "&{'validation.required'}", remote: "&{'validation.invalid_captche'}"}
			}
				});
	});

</script>

#{form @sendpassword(), id:"form"}
    #{field 'email'}
        <div class="field">
            <label for="${field.id}">Email:</label> <input type="text" name="${field.name}" class="input_text" value="${email}"> 
            <span class="req">*</span>
            <span class="error" for="${field.id}" generated="true">${field.error}</span>
        </div>
    #{/field}
#{field 'code'}
    <div class="field">
        <label for="code">&{'site.type_code'}: </label>
        <div class="captcha">
        <img src="@{Application.captcha(randomID)}" />
        <br/>
        <input type="text" name="code" id="code"  value="" /><span class="req">*</span>
            <span class="error" for="${field.id}" generated="true">${field.error}</span>
        </div>
        <input type="hidden" name="randomID" value="${randomID}" />
    </div>
 #{/field}
    
    <div class="buttons">
        <input type="submit" value="&{'site.send'}" class="button">
    </div>
#{/form}
