#{extends 'main.html' /}
#{set title:'Home' /}

<div id="Header">
<div class="header">
	<div class="logoArea">TMS</div>
	<div class="accountLinks"><a href="@{Application.sys()}">Войт</a></div>
	<div class="clearb"></div>
</div>
<div class="primaryNav">
<div class="content">
<ul class="tabs">
<li></li>
</ul>
</div>
</div>

<div id="wrapper">
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
<div class="clearb"></div>
<div id="nav_wrapper"></div>

</div>