<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    </head>
    <body>
<div id="Header">
<div class="header">
	<div class="logoArea">Ukraine Telemedical System</div>
	<div class="accountLinks"><a href="@{Application.sys()}">Войти в систему</a></div>
	<div class="clearb"></div>
</div>
<div class="primaryNav">
<div class="content">
<ul class="tabs">
<li class="pipe"></li>
<li class="menuitem"><a class="nav-tooltip" href="@{Application.how_work()}">Как это работает?</a></li>
<li class="pipe"></li>
<li class="menuitem"><a  class="nav-tooltip" href="@{Application.registartion()}">Регистрация</a></li>
<li class="pipe"></li>
<li class="menuitem"><a  class="nav-tooltip" href="@{Application.conatcts()}">Контакты</a></li>
</ul>
</div>
</div>

<div id="wrapper">
  #{doLayout /}
</div>
<div class="clearb"></div>
<div id="nav_wrapper"></div>

</div>

    </body>
</html>
